html{
    // font family
    --f-family: 'Mulish', sans-serif;
    // color
    --light:#0C3fff;
    --primary:#2071e7;
    --dark:#29B0b9;
    --text:#333;
    --background:#fafafa;
    --hint:#999;
    --border:#ddd;
}